/* You can add global styles to this file, and also import other style files */

.myDesign {
  position: relative;
  z-index: 100;
  background-color: #fff;
  margin-top: -115px;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px #777;
}
.test {
  margin-top: -70px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px #777;
  background-color: #fff;
  color: #f00;
}