/* You can add global styles to this file, and also import other style files */

.myDesign {
  position: relative;
  z-index: 100;
  background-color: #fff;
  margin-top: -115px;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px #777;
}
.test {
  width: 100%;
  text-align: center !important;
}