<div class="row">
  <div class="col-xs-12">
    <p>add new Servers or blueprints!</p>
    <label for="">server name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName">
    <label for="">server content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent">

    <button type="button" class="btn btn-primary" (click)="onAddServer()">add server</button>
    <button type="button" class="btn btn-primary" (click)="onAddBluePrint()">add server Blue Print</button>
  </div>
</div>