
.movie {
  min-width: 510px;
  height: 190px;
  margin: 0 30px;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #777;
}
.movie_link {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.movie a:hover img {
  transform: scale(1.1) rotate(360deg);
}
.movie a:hover .movie_link{
  background-color: rgba(265, 265, 265, 0.5);
}
.movie img {
  display: block;
  width: 100px;
  float: left;
  margin-right: 20px;
  box-shadow: 0 0 5px #333;
  transition: all ease 500ms;
}
.movie_data {
  display: block;
  width: 350px;
  float: left;
}
.movie_title {
  font-weight: bold;
  font-size: 1.2rem;
}

.movie_year {
  margin-top: 5px;
}
.movie_genres {
  display: flex;
  width: 100%;
  margin-top: 5px;
}

.genres {
  margin-right: 5px;
}

.movie_summary {
  width: 100%;
  margin-top: 5px;
  word-break: keep-all;
}