

<div class="dtl-wrap">
  <div class="title">
    <h3>{{selBoard.title}}</h3>
    <span>{{selBoard.user}}</span>
  </div>
  <div class="info">
    <span>{{selBoard.date}}</span>
  </div>
  <!-- <div class="contents">{{selBoard.contents}}</div> -->
  <div class="contents">

  </div>

  <div class="new-comment">
    <app-new-comment [selBoard]="selBoard"></app-new-comment>
  </div>


  <ul class="comments">
    <li *ngFor="let list of (boardDataService.getCommentByBoardId())">
      {{list.contents}}
    </li>
  </ul>

</div>







