

<!-- <h2>{{hero.name}} Details</h2>
<div><span>id:</span>{{hero.id}}</div>
<div><span>name:</span>{{hero.name | uppercase }}</div>
<div>
  <label for="">name:
    <input [(ngModel)]="hero.name" type="text" placeholder="name">
  </label>  
</div> -->


  <!-- <h2>my heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of  heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
      <a href="#" routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
    </li>
  </ul>
  
  <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

  <h2>my heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of  heroes">
      <a href="#" routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button class="delete" title="delete_hero"
  (click)="delete(hero)">x</button>
    </li>
  </ul>
  <div>
    <label>Hero name:
      <input #heroName />
    </label>
    <!-- (click) 이벤트를 감지하면 현재값을 인자로 전달하면서 add() 함수를 실행하고, 입력 필드를 비웁니다. -->
    <button (click)="add(heroName.value); heroName.value=''">
      add
    </button>
  </div>