

<form [formGroup]="newBoardForm" (ngSubmit)="onSubmit()">

  <input #newTitle formControlName="newTitle" type="text" class="new-title" placeholder="제목을 입력하세요" />
  <!-- <angular-editor [config]="config" formControlName="newContents"></angular-editor> -->
  <editor
   [init]="{
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"
   formControlName="newContents"></editor>
   
  <button mat-raised-button type="submit" style="float: right; margin-top: 20px;" [disabled]="!onValid()">작성완료</button>
  
</form>