.new-title {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  margin: 20px 0;
  border: 1px solid #ddd;
  line-height: 40px;
  font-size: 1.25rem;
  text-indent: 10px;
  border-radius: 5px;
}