<p>element-ref works!</p>

<!-- <ul>
  <li *ngFor="let item of items" #listItem>{{item.content}}</li>
</ul> -->

<div>
  <input type="text" id="inputId" #keyInput
    (keyup)="leaveKeyLog($event, keyInput.value)" />
  <div>INPUT[id="{{keyInput.id}}"] <br />
    your current input: {{keyInput.value}}</div>
  <div>all inputs:  {{logs | json}}</div>
</div>
<div>
  more attributes of INPUT[id="{{keyInput.id}}"] <br/>
  type: {{keyInput.type}} <br/>
  isRequired: {{keyInput.required}} <br/>
  isDisabled: {{keyInput.disabled}} <br/>
  ...
</div>