{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'posts/style.css' %}">
  <title>Jestagram</title>
</head>

<body>
  <h1>post Detail</h1>
  {% if post %}
  <dl>
    <dt>작성자</dt>
    <dd>{{ post.author }}</dd>
  </dl>
  <dl>
    <dt>본문</dt>
    <dd>{{ post.body }}</dd>
  </dl>
  <dl>
    <dt>게시일</dt>
    <dd>{{ post.created_at }}</dd>
  </dl>
  {% else %}
  <p>no post</p>
  {% endif %}

  <!-- <a href="/posts">목록으로</a> -->
  <a href="{% url 'posts:index' %}">목록으로</a>
  <a href="{% url 'posts:edit' post.id %}">수정하기</a>
  <a href="{% url 'posts:delete' post.id %}">삭제하기</a>
</body>

</html>