{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'posts/style.css' %}">
{% endblock %}
  {% block content %}

<!--   
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'posts/style.css' %}">
  <title>Jestagram</title>
</head>

<body> -->
  <h1>edit post</h1>
  
    <form method="POST" action="{% url 'posts:update' post.id %}" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- <div class="mb-4 col-6">
        <label class="form-label"  for="author">author</label>
        <input class="form-control"  type="text" id="author" name="author" value="{{ post.author }}"/>
      </div> -->

    <div class="mb-4 col-6">
      <label class="form-label"  for="body">본문</label>
      <textarea class="form-control"  id="body" name="body" cols="30" rows="10">{{ post.body }}</textarea>
    </div>

    {% if post.image %}
    <div>
      <img class="img-fluid" src="{{ post.image.url }}" alt="포스트 이미지">
    </div>
    {% endif %}

    <div class="mb-4 col-6">
      <label class="form-label"  for="image">이미지</label>
      <input type="file" class="form-control" id="image" name="image">
      <!-- 이미지 전송시 methode POST 필수 enctype="multipart/form-data" -->
    </div>

    <!-- <input type="submit" value="수정하기"> -->
    <button type="submit" class="btn btn-primary">수정하기</button>
  </form>

  <a href="{% url 'posts:index' %}">목록으로</a>
  <a href="{% url 'posts:detail' post.id %}">취소하기</a>

  {% endblock %}
<!-- </body>

</html> -->