{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'posts/style.css' %}">
{% endblock %}
  {% block content %}
<!--   
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'posts/style.css' %}">
  <title>Jestagram</title>
</head>

<body> -->
  <h1>new post</h1>
  
  <!-- <form method="GET" action="/posts/create"> -->
    <!-- <form method="POST" action="posts/create"> -->
      <!--get파라미터/url파라미터/query string url: new/?name=data&body=body내용 -->
      <!-- &기호로 구분 -->

    <!-- <form method="POST" action="/posts/create"> ERROR -->
    <!-- <form method="POST" action="/posts/create/"> -->
    <!-- <form method="POST" action="{% url 'posts:create' %}"> -->
      <!-- CSRF 검증에 실패했습니다. 요청을 중단하였습니다. -->
      <!-- 아래 코드작성 -->
    <form method="POST" action="{% url 'posts:create' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- <div class="mb-4 col-6">
        <label class="form-label"  for="author">author</label>
        <input class="form-control"  type="text" id="author" name="author"/>
       </div> -->

    <div class="mb-4 col-6">
      <label class="form-label"  for="body">본문</label>
      <textarea class="form-control"  id="body" name="body" cols="30" rows="10"></textarea>
    </div>

    <div class="mb-4 col-6">
      <label class="form-label"  for="image">이미지</label>
      <input type="file" class="form-control" id="image" name="image">
      <!-- 이미지 전송시 methode POST 필수 enctype="multipart/form-data" -->
    </div>

    <!-- <input type="submit" value="작성하기"> -->
    <button type="submit" class="btn btn-primary">작성하기</button>
  </form>

  <a href="{% url 'posts:index' %}">목록으로</a>

  {% endblock %}
<!-- </body>

</html> -->