
.dark-mode, 
.dark-mode input,
.dark-mode textarea,
.dark-mode table,
.dark-mode .card-body{
    color: white;
    background-color: #171717;
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode h1,
.dark-mode a{
    color: #FF9E1B
}
